/* style sheet */


*, *::before, *::after{

	box-sizing: border-box;
	
  font-family: 'Oxygen', sans-serif;
}

h1{
    margin-top: 20px;
	
}




nav{

	padding-top: 0.15rem !important;
	padding-bottom: 0.15rem !important;
}

.navbar-brand{

	font-size: 2rem;
}

.nav-item{

	font-size: 1.2rem;
}